.container {
  background-color: #ccc;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 1px solid black;
  padding: 0;
  margin: 10px;
}
.preto {
  background-color: #000;
  width: 100%;
  height: 12vh;
}
.branco {
  background-color: #FFF;
  width: 100%;
  height: 12vh;
}